:root {
    --darkgrey-color: #645353e9;
    --box-background: #c5b8b8cb;
    --text-color: #FFFFFF;
    --box-shadow: 1px 1px 9px rgba(62, 60, 60, 0.55);
    --paragraph-text-co: #e3dfdf;
    --grey-color: rgb(223, 221, 221);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-image: url(../assets/Background.png);
    /* background: linear-gradient(to bottom left, rgb(0, 0, 0), grey, rgb(234, 234, 183)); */
    background-position: center;
    background-size: cover;
}

h1,
h2,
h3,
h5,
p {
    color: var(--text-color);
}

a {
    text-decoration: none;
}

button {
    border: none;
}

/* ------------------------------------
     custom class for section padding 
---------------------------------------*/
.black-bg {
    background-color: black;
    border-radius: 50px 50px 0px 0px;
}

.cta-btn1 {
    padding: 5px 50px;
    border-radius: 20px;
    background-color: var(--darkgrey-color);
    color: var(--text-color);
}

.cta-btn2 {
    background-color: var(--grey-color);
    padding: 10px 30px;
    border-radius: 20px;
    color: var(--darkgrey-color);
}


/* ------------------------------------
     nav section start 
---------------------------------------*/
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.image-logo img {
    margin-top: 50px;
    width: 100px;
}


.navbar {
    margin-top: 60px;
}

.navbar-nav {
    font-size: 15px;
    font-weight: 600;
    gap: 60px;
}

.nav-link {
    color: white;
}

.navbar-toggler {
    color: #FFFFFF;
}

/* seach bar section is here  */
.searchbar {
    display: flex;
    max-width: 500px;
    margin: auto;
}

.searchbar input {
    border-radius: 20px;
    padding: 10px 20px;
}

.searchbar i {
    margin-top: 6px;
    margin-left: -65px;
    color: grey;
}


/* -----  2nd searchbox style is here  */
.search-box {
    background-color: var(--box-background);
    border-radius: 30px;
}

.searchheading {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    height: 100%;
    gap: 20px;
    color: var(--grey-color);
    background-color: var(--darkgrey-color);
    border-radius: 30px;
    margin-left: -10px;
    height: 90px;
    padding: 1rem;

}

.searchheading img {
    max-width: 50px;
}

.searchbar-2 {
    width: 100% !important;
    display: flex;
    max-width: 500px;
    margin: auto;
}


/* ------------footer code -----------------*/

.footer-logo {
    max-width: 100px;
    margin: 10px;
}

.privacy {
    display: flex;
    gap: 10px;
    justify-content: end;
    text-align: center;
}

.privacy a {
    gap: 20px;
    color: var(--text-color);

}

.privacy p {
    margin-bottom: 0px;
}


/* -------------------
Catogory section here
--------------------*/

.categori {
    margin: auto;
    align-items: center;
}

.categori-body,
.paragraph {
    color: var(--paragraph-text-co);
    font-weight: 500;
}

.titel {
    font-size: 30px;
    color: var(--text-color);
}

.titel,
.paragraph {
    text-align: center;
}

.menu-list-container {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    width: 100%;
}

.menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    min-width: 10%;
    transition: all 0.3s;
}

.menu-list:hover {
    background-color: var(--box-background);
    border-radius: 30%;
    transition: all 0.3s;
}

.menu-list img {
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
}

.menu-list p {
    margin: 0;
}

/* 2img width fixing code */
.list-iii {
    width: 50px !important;
}

.list-iv {
    width: 24px !important;
}

/* 2img width fixing code ^ */

.menu-list p,
.fa-angle-right {
    font-size: 12px;
    color: var(--text-color);
    text-align: center;
}

.menulites {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menulites p {
    font-size: 18px !important;
}

/*--------------------------------
         New Offer section start 
    ----------------------------------*/
.offer-section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.card {
    background-color: var(--grey-color);
    height: 225px;
    box-shadow: var(--box-shadow);
    border-radius: 15px;
    overflow: hidden;
}

.card-title,
.card-body p {
    color: var(--darkgrey-color);
}

.card-text,
.read-more {
    font-size: 10px;
}

.read-more {
    color: blue;
}



/* ------------------------------------
     write to us section start 
---------------------------------------*/
label {
    font-size: 15px;
    color: var(--paragraph-text-co);
}

.input-field {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 1px solid var(--text-color);
    background-color: transparent;
}

.box {
    padding: 20px;
    padding-bottom: 45px;
    border-radius: 10px;
    background-color: var(--grey-color);
}

.box>p .fa-paper-plane {
    color: var(--darkgrey-color);
}

.btn-1 {
    float: right;
    color: var(--darkgrey-color);
}

/* slider------ */
.carousel-indicators [data-bs-target] {
    width: 15px;
}

.carousel-item {
    box-shadow: var(--box-shadow);
}

/* /////---------------------Page 2 Codes Start Here---------------------------/// */


/* colleges -----------*/
.university h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.college-logo {
    background-color: var(--text-color);
    max-width: 526px;
    border-radius: 10px;
    height: 180px;
    margin-bottom: 30px;
}

.college_name {
    color: var(--paragraph-text-co);
}

.paragraph2 {
    color: var(--paragraph-text-co);
}

/* Page 3 Codes Here-------------------------- */
.university {
    padding: 30px 20px;
}

.menuimg img {
    margin-bottom: 30px;
}

.icon2 {
    width: 50%;
}

/*--------------
 Page4 codes here
 ---------------------- */
.map-box {
    text-align: center;
    padding: 1rem;
}

.map-box iframe {
    width: 600px;
    height: 450px;
    border-radius: 20px;

}

.register-section {
    max-width: 820px;
    border-radius: 20px;
    background-color: var(--grey-color);
    box-shadow: var(--box-shadow);
}

.registerbody {
    padding: 50px;
}



.register label {
    color: var(--darkgrey-color);
    /* font-weight: 500; */
}

.input-fill {
    width: 100%;
    outline: 0;
    border: 0;
    border-bottom: 2px solid var(--darkgrey-color);
    background-color: var(--grey-color);
}

.upload-btn-wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    height: 45px;
    border: 2px solid var(--darkgrey-color);
    border-radius: 5px;
    padding: 0px 20px;
}

.upload-btn-wrapper p {
    margin-bottom: 0px;
    width: 184px;
    /* padding-left: 20px; */
}

.add-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 70px 0px 70px;
}

.upload-btn-wrapper input[type=file] {
    font-size: 20px;
    position: absolute;
    left: 0;
    top: 6;
    opacity: 0;
}


.app-img img {
    max-width: 100px;
}

/* ///-------------------
Profile page Codes Here
------------------------------------- */
.profile-card {
    max-width: 600px;
    margin: 10px;
}

.wallet-btnbody {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group {
    max-width: 440px;
}

.profile-from input {
    background-color: transparent;
    border-bottom: 2px solid var(--paragraph-text-co);
}

.accordion-button {
    background: none;
}

.accordion-button:not(.collapsed) {
    background: none;
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none;
    border-bottom: 2px solid #fff;
}


/* ---------------------- */
.more-details {
    max-width: 380px;
    border-bottom: 2px solid var(--grey-color);
}

.more-details>p,
.faq-section>p {
    font-size: 10px;
}

.faq-section {
    border-bottom: 2px solid var(--grey-color);
}

.faq-icon {
    font-size: 25px;
}

.accordion-item,
.accordion-header {
    background-color: transparent;
}

/* Page 6 Codes here--------------------- */
.extra-input>label {
    float: right;
}

label img {
    width: 70px;
    color: var(--darkgrey-color);
}


.login-btn {
    background-color: var(--darkgrey-color);
    color: var(--text-color);
}



/* ------------footer code -----------------*/
.black-bg {
    background-color: black;
    border-radius: 50px 50px 0px 0px;
}

.privacy,
a {
    /* float: right; */
    gap: 20px;
    color: var(--text-color);
    text-decoration: none;
}

.privacy p {
    margin-bottom: 0px;
}

.footer-section {
    align-items: center;
}

.error {
    color: #f98484 !important;
}

.footer-logo {
    width: 100px;
}

/*------------------------------
        meadia quries
 -------------------------------*/

@media (max-width: 575.98px) {}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}